{{ partial "header.html" . }}

<body class="item">
  <div id="sitewrapper">
    <div id="contentwrapper">
      {{ partial "banner.html" . }}
      <div class="itemwrapper" id="fact">
        <noscript>
          <p>see <a href="/fact">All facts</a></p>
        </noscript>
      </div>
      <script>
        (function (currentLocation)
        {
          var facts = [
            {{ range (where .Site.Pages "Type" "fact" )}}
                {{ .Permalink }},{{ end }}
          ];

          var loadRandom = function ()
          {
            var factNumber = Math.floor(Math.random() * facts.length);
            putFile("fact", facts[factNumber], currentLocation, loadRandom);
          };

          loadRandom();
        })("/");
      </script>

      {{ partial "footer.html" . }}
