<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

  <meta name="description" content="{{ .Site.Params.Description | safeHTML }}">
  <meta name="keywords" content="{{ .Site.Params.Keywords }}" />
  <meta name="author" content="{{ .Site.Params.Author }}" />
  <meta name="robots" content="index, follow">
  <meta content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}" property="og:title">

  <!-- Twitter Cards -->
	<meta name="twitter:card" content="summary"/>
  <meta name="twitter:image" content="{{ .Site.BaseURL }}/images/logo.png">
  <meta name="twitter:site" content="{{ .Site.Params.Twitter }}">
  <meta name="twitter:creator" content="{{ .Site.Params.Twitter }}">
  <meta name="twitter:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}">
  <meta name="twitter:url" content="{{ .Permalink }}">
  <meta name="twitter:description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.Description}}{{end}}">

  <!-- Title -->
  <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }} 🐡 </title>

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">

  <!-- RSS -->
  <link rel="profile" href="http://gmpg.org/xfn/11" >
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

  <!-- CSS -->
  <link href="{{ .Site.BaseURL }}css/styles.css" media="all" rel="stylesheet" />
  <link href="{{ .Site.BaseURL }}fonts/font.css" rel="stylesheet" type="text/css">

  <!-- JS -->
  <script src="/js/put.js"></script>

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setCookieDomain", "*.why-openbsd.rocks"]);
    _paq.push(["setDomains", ["*.why-openbsd.rocks","*.why-openbsd.rocks"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.noqqe.de/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '10']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>

<body class="item" itemscope="" itemtype="http://schema.org/Blog">
  <div id="sitewrapper">


    <div id="contentwrapper">
      <div class="itemwrapper" itemscope itemType="http://schema.org/BlogPosting">
