/*
vim:ts=4:sw=4:
*/

body {
  background-color: #fdfdfd;
}

#OpenBSD :link i,
#OpenBSD :visited i {
  color: #F2CA30;
  text-decoration-color: #CF4229;
}

#OpenBSD :link b,
#OpenBSD :visited b {
  color: #CF4229;
  text-shadow: 2px 2px black;
}

a,
a:visited {
  color: black;
}

pre {
  background-color: #f5f5f5;
}

blockquote {
  border-left: 4px solid #ccc;
}

code,
pre code {
  background-color: #f5f5f5;
}

header a,
header a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

footer a,
footer a:visited {
  color: #322c2c;
}

footer {
  color: #4b4848;
}

div.itemcontent {
  color: #4b4848;
}

div.itemwrapper h1 {
  color: #333;
}

div.itemwrapper h1,
div.itemwrapper h1 a {
  color: #333;
}
