/*
vim:ts=4:sw=4:
*/


/* -----------------------
Colors
------------------------*/

@import "light.css";
@import "dark.css"(prefers-color-scheme: dark);

/* -----------------------
Base styles
------------------------*/

html {
    overflow: -moz-scrollbars-vertical !important;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
body,
h1,
h2 {
    font-family: 'Merriweather', serif;
    font-size: 14.5pt;
}

h1,
h2 {
    font-size: 30pt;
    font-weight: bold;
}

pre,
code {
    font-family: monospace;
    font-size: 13pt;
}

body {
    line-height: 1.45em;
    margin: 0;
    padding: 10px;
    padding-top: 0;
    display: inline;
}

#OpenBSD :link i,
#OpenBSD :visited i {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    text-decoration-line: underline;
}

#OpenBSD :link b,
#OpenBSD :visited b {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    text-decoration-line: underline;
}

#OpenBSD :link,
#OpenBSD :hover {
    word-spacing: -0.3em;
    font-size: 0.75em;
    text-decoration-line: none;
}

#sitewrapper {
    padding: 0px 10px 0px 10px;
}


figcaption {
    text-align: center;
    font-style: italic;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    padding: 1em;
    text-align: left;
    overflow: auto;
}

blockquote {
    padding-left: 1em;
}

/* anti spam from the 90s */
code.rev {
    direction: rtl;
    unicode-bidi: bidi-override;
}

/* hide elements from being displayed */
.hidden {
    display: none
}

header {
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline;
    padding: 14px 0 25px 0;
    line-height: 30pt;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

header h2 {
    font-weight: bold;
    display: inline;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
}

header a,
header a:visited {
    font-weight: bold;
    text-decoration: none;
}

footer {
    padding-top: 0.2em;
    margin-bottom: 2em;
    padding-right: 10px;
}

div.itemcontent {
    margin-top: 0.75em;
    padding-right: 10px;
}

div.itemcontent img {
    -ms-interpolation-mode: bicubic;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 100%;
    display: block;
}

body.item header,
body.item div#contentwrapper {
    margin-left: auto;
    margin-right: auto;
    width: 665px;
}

div.itemwrapper h1 {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

div.itemwrapper h1,
div.itemwrapper h1 a {
    text-decoration: none;
}

/* responsive adjustments */
@media only screen and (max-width: 640px) {
    div#contentwrapper {
        max-width: 100%;
    }

    div#sitewrapper {
        max-width: auto;
    }

    header {
        max-width: 100%;
    }

    html,
    body,
    h1,
    h2 {
        font-family: 'Merriweather', serif;
        font-size: 12.5pt;
    }

    h1,
    h2 {
        font-size: 25pt;
        font-weight: bold;
    }

    pre,
    code {
        font-family: monospace;
        font-size: 12pt;
    }
}
