
{{ partial "header.html" . }}

  <h1>
      <a href="{{ .Permalink }}">{{ lower .Title }}</a>
  </h1>

  <div class="itemcontent">
    <h4>blog</h4>
    <ul>
    {{ range (where .Data.Pages  "Type" "blog")}}
        <li>
            <span>{{ .Date.Format "2006.01.02" }}</span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
    {{ end }}
    </ul>

    <h4>sammelsurium</h4>
    <ul>
    {{ range (where .Data.Pages  "Type" "sammelsurium")}}
        <li>
            <span>{{ .Date.Format "2006.01.02" }}</span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
    {{ end }}
    </ul>

{{ partial "footer.html" . }}
